@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    background-image: url('../images/bg-header-desktop.png');
    background-repeat: no-repeat;
    background-size: contain;
  }
  

@layer base {
      h3 {
           @apply mb-8 text-4xl text-center text-darkGrayishBlue md:text-5xl font-bold
      }
}

.section-container {
      @apply max-w-6xl mx-auto text-center
}

@media screen and (max-width:'576px') {
    body {
        background-image: url('../images/bg-header-mobile.png');
        background-repeat: no-repeat;
        background-size: cover;
        
    }
}    